a {
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    color: white;
    background-color: #55585a;
    font-size: 14px;
    padding-left: 30px;
}
a:hover {
    background-color: #ff6700;
}